:host {
    display: block;
    height: 100%;
}

button,
a,
input,
select,
textarea {
    min-width: 0;
}

textarea {
    resize: vertical;
}

.line-clamp-1,
.line-clamp-2 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.line-clamp-1 {
    -webkit-line-clamp: 1;
}

.line-clamp-2 {
    -webkit-line-clamp: 2;
}
