doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title SEASON Cloud Services
        base(href="/")
        
        meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0')
        meta(http-equiv='X-UA-Compatible' content='ie=edge')

        // pwa config
        meta(name='msapplication-TileColor' content='#6C8DF6')
        meta(name='theme-color' content='#6C8DF6')
        meta(name='apple-mobile-web-app-status-bar-style' content='black')
        meta(name='apple-mobile-web-app-capable' content='yes')
        meta(name='apple-mobile-web-app-title' content='SEASON Cloud Services')
        meta(name='mobile-web-app-capable' content='yes')
        meta(name='HandheldFriendly' content='True')
        meta(name='MobileOptimized' content='320')
        link(rel="shortcut icon", href="/assets/brand/icon.ico")

        link(rel="apple-touch-icon" sizes="72x72" href="/assets/brand/icon.ico")
        link(rel="apple-touch-icon" sizes="114x114" href="/assets/brand/icon.ico")
        link(rel="apple-touch-icon" href="/assets/brand/icon.ico")

        link(rel="icon" sizes="72x72" href="/assets/brand/icon.ico")
        link(rel="icon" sizes="114x114" href="/assets/brand/icon.ico")
        link(rel="icon" sizes="192x192" href="/assets/brand/icon.ico")
        link(rel="icon" sizes="57x57" href="/assets/brand/icon.ico")

        link(rel="manifest" href="/assets/manifest.json")

    body
        app-root
